body {
  background-color: black;
  color:white;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
}


table {
  border-spacing: 0px;
}
.hide {
  display: none;
}

#pacman {
  width: 25px;
  height: 25px;
  /* transform: rotate(0deg) ; */
  /* transform: scaleX(-1); */
}

.wall {
  width: 40px;
  height: 40px;
  
}

.left {
  transform: scaleX(-1);
}

/* .upwards {
  transform: rotate(deg);

} */

/* .formLine {
  margin:10px;
  padding:10px;
  background-color: cornflowerblue;
} */